
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-image: url("../img/fondo2.jpg");
    background-size: cover;
    background-position: center;
    /* background: #ff3772; */
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}


.heading {
    font-weight: bold;
    text-align: center;
    letter-spacing: 7px;
    font-size: 1.8rem;
    padding: 20px 0px 10px 0px;
    color: #ffffff;
}



.wrapper {
    display: flex;
    justify-content: center;
    margin: 1rem auto;  
    /* width: 550px; */
    font-size: 1rem;
    background: rgba(0,0,0,.1);
    box-shadow: inset 0 0 15px rgba(0,0,0,.5);
    /* background-color: #000000;  */
    border-radius: 5px; 
    overflow: hidden;
}



/* color y separacinon entre canciones */
.wrapper ul li {
    display: flex;
    background: rgba(255,255,255,.1);
    padding: 15px 20px;
    color: #ffffff;
    margin: 10px 0;
    transition: .5s;
} 

.wrapper ul li:nth-child(1) {
    background: rgba(255,255,255,.6);
}

.wrapper ul li:nth-child(2) {
    background: rgba(255,255,255,.4);
}

.wrapper ul li:nth-child(3) {
    background: rgba(255,255,255,.2);
}

.wrapper ul li span:nth-child(1) {
    width: 270px;
}

.wrapper ul li span:nth-child(2) {
    width: 300px;
}

.wrapper ul li span:nth-child(3) {
    width: 400px;
    /* text-align: right; */
}

.wrapper ul li span:nth-child(4) {
    width: 100px;
    text-align: right;
}

.wrapper ul li:hover {
    transform: scale(1.06);
    background-color: #ec0707;
}


/* Centro el Boton atras*/
.btn-atras {
    display: flex;
    justify-content: center;
}


.atras-btn {
    text-align: center;
    width: 150px;
    padding: 10px;
    margin: 20px 0px;

    background-color: #e96767;
    /* Le quito el borde por defecto */
    border: none;
    /* Borde redondeado del boton */
    border-radius: 10px;
    /* Color de texto del boton*/
    color: #000000;
    /* Tamaño de la funte del boton*/
    font-size: 1rem;
    /* Peso de la fuente , gruesita */
    font-weight: bold;
    /* Cambio del cursor al a ser foco */
    cursor: pointer;
    transition: .1s ease all;
}

/* Estado del hover, para la transicion del boton */
.atras-btn:hover {
    color: #fff;
    background: #ec0707;
    box-shadow: 0 0 5px #ec0707, 0 0 25px #ec0707, 0 0 50px #ec0707,
        0 0 100px #ec0707;
}

/* Botones de tickes */
.tickes-btn {
    /* text-align: center; */
    width: 80px;
    padding: 1px;
    /* margin: 20px 0px; */

    background-color: #e96767;
    /* Le quito el borde por defecto */
    border: none;
    /* Borde redondeado del boton */
    border-radius: 2px;
    /* Color de texto del boton*/
    color: #000000;
    /* Tamaño de la funte del boton*/
    font-size: 1rem;
    /* Peso de la fuente , gruesita */
    font-weight: bold;
    /* Cambio del cursor al a ser foco */
    cursor: pointer;
    transition: .1s ease all;
}

/* Estado del hover, para la transicion del boton */
.tickes-btn:hover {
    color: #fff;
    background: #550202;
    box-shadow: 0 0 5px #550202, 0 0 25px #550202, 0 0 50px #550202,
        0 0 100px #550202;
}




@media only screen and (max-width:640px) {
    
    .wrapper ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
        /* width: 100%; */
       
    }

    .wrapper ul li span:nth-child(1) {
        /* width: 270px; */
        text-align: center;
    }
    
    .wrapper ul li span:nth-child(2) {
        width: 200px; 
        text-align: center;
    }

    .wrapper ul li span:nth-child(3) {
        width: 180px; 
        text-align: center; 
    }

} 